@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;700&display=swap');
@import "tailwindcss";



:root {
  font-family: 'Exo', sans-serif;
  color: #ffffff;
  background-color: #000000;
}

/* Button brand colors & blue shadow effect */
.btn-primary {
  background-color: #8b3f80;
  box-shadow: 0 10px 25px -5px rgba(0, 122, 255, 0.3); /* Smooth blue shadow */
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #c7854b;
  box-shadow: 0 15px 30px -5px rgba(0, 122, 255, 0.4);
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5) !important;
  width: 12px;
  height: 12px;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #8b3f80 !important;
  width: 32px;
  border-radius: 6px;
}

/* Footer link smooth transition */
footer a {
  transition: color 0.2s ease-in-out;
}